@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

/*navbar customisations*/
nav.navbar-footer-custom {
    position: absolute !important;
    bottom: 0;
    margin-bottom: 0px;
}
nav.navbar-custom {
  background-color: #b2b2ff;
  position: fixed;
  width: 100%;
}
nav.navbar-custom .dropdown-menu{
  background-color: #c3c3ff;
}
nav.navbar-custom .navbar-nav a,
nav.navbar-custom .navbar-nav a.navbar-brand {
    color: rgb(50,50,50);
}
nav.navbar-custom .nav-item.active .nav-link,
nav.navbar-custom .nav-item:hover .nav-link {
    color: #555555;
}

nav.navbar-custom .navbar-toggle .icon-bar {
  background-color: #555555 !important;
}

/*jumbotron customisations*/
.jumbotron-custom {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/*blog styles*/
.blog-entry {
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 10px;
}
.blog-title {
  font-size: 200%;
  font-weight: bold;
}
.blog-undertitle{
  margin-bottom: 15px;
}
.blog-name {
  font-size: 130%;
}
.blog-date {
  font-size: 115%;
  font-family: sans-serif;
}
.blog-body {

}

/*additional styles*/

html,body {
  /*helps keep footer at the bottom*/
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans TC";
}

h1 {
	font-size: 1.5em;
}

#heading {
	color: #fc9014;
}

.orange {
	background-color: #fc9014;
}
.button {
	font-size: 1em;
	text-align: center;
	border: none;
	border-radius: .5em;
	text-decoration: none;
	color: #FFFFFF;
	min-height: 2.25em;
	margin: .2em;
	vertical-align: middle;
	margin-top: 30px;
}

.wrapper {
  /*helps keep footer at the bottom*/
  min-height: 100%;
  position: relative;
}

.body-div {
  /*keeps nice spacing after header/before footer*/
  padding-top: 50px;
  padding-bottom: 70px;
}

a[href^="http"] {
  /*Not that I have external links but a real site would*/
  background: url(/images/external.png) center right no-repeat;
  padding-right: 20px;
}

textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}

.right {
  float:right;
}

.red {
  color: red;
}


.canvasBoi {
  background-image: url("http://localhost/hackathon/img/sky-bg.jpg");
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justfy-content: flex-start;
}

.item {
	width: 650px;
	order: 1;
	font-family: "Noto Sans TC";
}

/*stuff*/
@mixin vertical-align($position) {
  position:$position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin all-transition($time)
{
	transition: all $time;
	-webkit-transition: all $time;
}
body
{
	margin: 0;
  font-family: 'Muli', sans-serif;
}
.menu {
	
	font-weight: 100;
	background: #efefef;
	width: 150px;
	height: 100%;
	padding-left: 50px;
	position: fixed;
	z-index: 100;
	-webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	right: -130px;
	@include all-transition(0.3s);
	color: #222;
}
	
	.menu:hover{
		transform: translate(-130px, 0);
		animation-timing-function: 1s ease-in;
		animation-duration: 1s;
		
	}
	
	.menu:hover .button{
		display:block;
	}
	
	.title
	{
		top:50%;
		@include vertical-align(absolute);
		transform: rotate(270deg);
		left: 0;
		margin: 0;
		font-weight: 800;
		font-size: 15px;

	}
	.nav
	{
		@include vertical-align(absolute);
    font-weight: 100;

		li
		{
				padding-bottom: 30px;
				list-style-type: none;

				a
				{
					display: block;
					text-decoration: none;
					color: inherit;
					@include all-transition(0.3s);

					&:hover
					{
						color: #aaa;
					}
				}
		}
	}
}

